# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
venv.bak/
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE/editor
.vscode/
*.swp
*.swo
.DS_Store
.idea/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# Logs
*.log

# AWS
.aws-sam/

# Misc
*.pem
